/* Estilos generales */
@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
body {
    font-family: "Montserrat Alternates", sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #EAD6C5;
}

.container {
    padding: 20px;
}

.container img {
    max-width: 350px;
    height: auto;
}

h1 {
    color: #6B513A;
    font-size: 2.5em;
    margin: 10px 0;
}

h3 {
    color: black;
    font-size: 1.2em;
    margin: 10px 0;
}

.social-media {
    margin-top: 20px;
}

.social-media a {
    margin: 0 10px;
    color: #6B513A;
    font-size: 2em;
    text-decoration: none;
}

.footer {
    background-color: #6B513A;
    color: #fff;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}

.footer-text p {
    margin: 0;
    font-size: 1em;
}

/* Responsive para tablets */
@media (max-width: 768px) {
    .container img {
        max-width: 250px;
    }

    h1 {
        font-size: 2em;
    }

    h3 {
        font-size: 1em;
    }

    .social-media a {
        font-size: 1.8em;
        margin: 0 8px;
    }

    .footer-text p {
        font-size: 0.9em;
    }
}

/* Responsive para móviles */
@media (max-width: 480px) {
    .container img {
        max-width: 150px;
    }

    h1 {
        font-size: 1.5em;
    }

    h3 {
        font-size: 0.9em;
    }

    .social-media a {
        font-size: 1.5em;
        margin: 0 5px;
    }

    .footer-text p {
        font-size: 0.8em;
    }
}
